/* Font Poppins  */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}


:root {
    --main-color: #ff7c03;
    --main-light-color: #ff8b1f;
    --container-color: #f8f7fc;
    --text-color: #1a1d22;
    --bg-color: #fff;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
section{
    padding: 4rem 0 2rem;
}
.container{
    max-width: 938px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288); 
}
header.shadow{
    background: var(--bg-color);
    transition: 0.3s;
    box-shadow: 2px 2px 4px rgb(15, 54, 55 / 10%);
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    
}
.logo img{
    width: 70px;
}
.navbar {
    display: flex;
    column-gap: 2rem;
}
.navbar a{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
    position: relative;
    transition: 0.3s all initial;
}
.navbar a:hover, .navbar .active{
    color: var(--main-color);
    transition: 0.3s all initial;
}
.nav-icon {
    display: flex;
    column-gap: 1rem;
}
.nav-icon .bx{
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s all initial;
}
.nav-icon  .bx:hover{
    color: var(--main-color);
    transition: 0.3s all initial;
}
#menu-icon{
    display: none;
}
.cart{
    position: relative;
}
.cart span{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: -10px;
    right: -8px;
    font-size: 0.6rem;
    height: 15px;
    width: 15px;
    background: var(--main-color);
    border-radius: 50%;
    padding: 4px;
    color: var(--bg-color);
}

/* Home */
.home{
    max-width: 1300px;
    min-height: 640px;
    margin: auto;
    display: flex;
    align-items: center;
    background: var(--container-color);
}
.home-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.home-text h1{
    font-size: 2.4rem;
}
.home-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
.btn{
    background: var(--main-color);
    color: var(--bg-color);
    padding: 13px 26px;
    border-radius: 0.5rem;
    font-weight: 400;
}
.btn:hover{
    background: var(--main-light-color);
}

/* Fieatured */
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.heading  span{
    border-bottom: 3px solid var(--main-color);
}
.featured-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
}
.featured-container .box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: var(--container-color);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 1px 2px 4px rgb(15, 54, 55 / 10%);
}
.featured-container .box img{
    width: 180px;
    object-fit: contain;
    object-position: center;
    transition: 0.5s all ease;
}
.featured-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s all ease;
}
.featured-container .box .text h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.featured-container .box .text a {
    font-size: 0.9rem;
    color: var(--text-color);
}

/* Shop */
.shop-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 2rem;
}
.shop-container .box{
    position: relative;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 1px 2px 4px rgb(15, 54, 55 / 10%);
}
.shop-container .box img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    background: var(--container-color);
    border-radius: 0.5rem;
}
.shop-container .box h2{
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
}
.shop-container .box .bx {
    position: absolute;
    bottom: 1rem;
    right: 0.8rem;
    font-size: 20px;
    padding: 10px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
}
.shop-container .box .bx:hover{
    background: var(--main-light-color);
    transition: 0.3s all initial;
}
/* NewsLetter */
.newsletter{
    display: grid;
    justify-content: center;
}
.newsletter form{
    margin-top: 2rem;
    display: flex;
    background: var(--container-color);
    padding: 10px;
    border-radius: 0.5rem;
}
.newsletter form .email-box{
    width: 250px;
}
.newsletter form input{
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: var(--text-color);
}
.newsletter form .btn {
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s all initial;
    cursor: pointer;
}
.newsletter form .btn:hover{
    background: var(--main-light-color);
    transition: 0.3s all initial;
}
/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer .logo{
    margin-bottom: 1rem;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
 .social{
    display: flex;
    align-items: center;
}
.social a, .social p{
    font-size: 24px;
    margin-right: 1rem;
    color: var(--text-color);
    transition: 0.7s all initial;
}
.footer a:hover, .footer p:hover{
    transform: translateY(-4px);
    transition: 0.7s all initial;
}
.footer-box h3{
font-size: 1.1rem;
font-weight: 700;
margin-bottom: 1rem;
}
.footer-box a, .footer-box p{
    color: var(--text-color);
    margin-bottom: 10px;
}
.footer-box a:hover, .footer-box p:hover{
    color: var(--main-color);
}
.copyright{
    text-align: center;
    padding: 20px;
}

/* Responsif  */

@media (max-width: 1080px){
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media (max-width: 991px) {
    .nav{
        padding: 15px 20px;
    }
    section{
        padding: 3rem 0 1rem;
    }
    .home-text h1{
        font-size: 2.1rem;
    }
}
@media (max-width: 768px){
    .nav{
        padding: 10px 0;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 250px;
        top: 100%;
        right: -100%;
        height: 100vh;
        background: var(--bg-color);
        text-align: left;
        row-gap: 0.5rem;
        box-shadow: 2px 2px 15px rgb(15, 54, 55 / 15%);
        transition: 0.3s;
    }
    .navbar a{
        display: block;
        padding: 15px;
    }
    .navbar.active{
        right: 0;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .heading h2{
        font-size: 1.4rem;
    }
    .shop-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    }
}
@media (max-width: 672px){
    .home-container{
        grid-template-columns: 1fr;
        
    }
    .home-text{
        order: 2;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    }
    .newsletter form .email-box{
        width: 180px;
    }
}

@media (max-width: 360px){
    .logo img{
        width: 54px;
    }
    .nav-icon .bx{
        font-size: 20px;
    }
    .heading h2{
        font-size: 1.2rem;
    }
    .home-text p br{
        display: contents;
    }
    .featured-container .box img{
        width: 135px;
    }
    .newsletter form .email-box{
        width: 140px;
        font-size: 0.9rem;
    }
    .btn{
        padding: 14px 20px;
    }
}




